ul {
	list-style-type:none;
	margin: 0;
	padding:0;
}

a{
	display: block;
	width: 80px;
}

li{
	border-spacing: 10px;
	display: inline;
	float: left;
}
.nav .navbar-nav .navbar-right
{
	display: inline;
	float: left;	
}

.navbar-right{
	margin-top: 2px;
}

.table > tbody > tr > td{
	padding: 8px;
	line-height: 1.42857;
	vertical-align: top;
	border-top: 1px solid #DDD;
}
table {
    border-spacing: 0px;
    border-collapse: collapse;
}
.nav > ul > li{
	border-spacing: 0px;
}
.container .navbar-fixed-bottom{
	float: right;
	margin-left: 100px;
	margin-bottom: 100px;
}